
.nav{
  .flex-row{
    transition: .3s;
    a{
      opacity: 1;
      transition: .3s;
    }
    &:hover{
      transition: .3s;
      background: $violet;
      color: $white;
      a{
        color: $white;
        transition: .3s;
      }
    }
  }
    li{
      padding: 5px 10px;
      background: $pink;
      margin: 0 5px;
      width:140px;
      text-align: center;
      transition: .4s;
      a{
        display: block;
        width: 100%;
        color: $violet;
        text-align: center;
      }
      &:hover{
        background: $white;
        transition: .4s;
      }
    }
}
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 30px;
  top: 35px;
  cursor: pointer;
  opacity: 1;
  transition: .4s;
  &:hover{
    opacity: .7;
    transition: .4s;
  }
  @media all and (max-width: $phoneWidth){
    width: 30px;
    height: 25px;
    right: 10px;
    top: 20px;
  }
}
.bm-burger-bars {
  background-color: $white;
}
.line-style {
  position: absolute;
  height: 20%;
  left: 0;
  right: 0;
}
.cross-style {
  position: absolute;
  top: 12px;
  right: 2px;
  cursor: pointer;
}
.bm-cross {
  background: $violet;
}
.bm-cross-button {
  height: 24px;
  width: 24px;
  opacity: 1;
  transition: .4s;
  &:hover{
    opacity: .7;
    transition: .4s;
  }
}
.bm-menu {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Stay on top */
  top: 0;
  left: 0;
  background-color: $white;
  box-shadow: 0 2px 3px 0 rgba(6,6,6,.85);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /*0.5 second transition effect to slide in the sidenav*/
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.bm-item-list {
  color: #b8b7ad;
  margin-left: 10%;
  font-size: 20px;
}
.bm-item-list > * {
  display: flex;
  text-decoration: none;
  padding: 0.7em;
}
.bm-item-list > * > span {
  margin-left: 10px;
  font-weight: 700;
  color: white;
}